.search-bar {
  position: relative;
  padding: 10px 5% 10px 0; /* Top padding, right padding, bottom padding */
}

.search-bar input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
}